body {
   background-image: url('/images/bg_texture1.png');
/*         padding: 0px 15% 0px 15%;*/
   width: 800px;
   margin-left: auto;
   margin-right: auto;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
   padding: 0px 0px 10px 5%;         
   height: 130px;
}

#nav-bar {
  margin-top: 70px;
  float:right;
  padding: 12px;
  background: -webkit-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
}

#nav-bar ul {
   list-style: none;
   display:inline;
   padding: 0px;
   
}
#nav-bar li {
   display:inline;
   padding: 0px 12px 0px 12px;
}

#nav-bar li a {text-decoration: none;}
#nav-bar li a:link {
  color: rgb(80,80,80);
  text-shadow: 0px 1px 0px #fff;
  text-decoration: none;
  font-size: 12px;
}
#nav-bar li a:visited {color: rgb(100,100,100);}
#nav-bar li a:hover {color: #88af00;}


.box-shadow {
   -moz-border-radius: 5px;   
   border-radius: 5px;
   box-shadow: 0px 1px 3px #a7a7a7;
   -moz-box-shadow: 0px 1px 3px #a7a7a7;
}

#intro {
   background-color: rgb(250,250,250);
   position: relative;
   background: -webkit-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);   
   
}

.grid {
   height: 100%;
   width: 100%;
   background: url('../images/grid.png') repeat transparent;     
/*         padding: 10px 10px 10px 40px;*/          
}

.description {
   color: #777;
   text-shadow: 0px 1px 0px #fff;   
}

#intro .description {
   line-height: 30px;
}

.button {
   width: 20%;
   -moz-border-radius: 5px;   
   border-radius: 5px;
   background: -webkit-linear-gradient(top, #92BC00 50%, #88af00 51%);
   text-align: center;
   position: absolute;
   font-size: 2.5em;
   color: white;
   bottom: 20%;
   left: 10%;
   border: 1px solid #88af00;
   padding: 2px 0px 2px 0px;
}

#flowchart {
   width: 100%;
/*         border: 1px solid rgb(200,200,200);
   -moz-box-shadow: 0px 1px 3px #a7a7a7;  
   box-shadow: -1px 4px 4px rgb(200,200,200);
   -moz-border-radius: 5px;   
   border-radius: 5px;           
*/      }

#content {
   margin-top: 40px;
}


#content #top-bar {
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   height: 40px;
   padding: 0px;
   width: 100%;
/*   background: -webkit-linear-gradient(top, rgb(110,110,110) 0%, rgb(70,70,70) 100%);*/
   background: -webkit-linear-gradient(top, #7B9EBD 0%, #597389 100%);
   color: #597389;
   text-align: center;
   font-size: 2px;
}

.section {
   border-top: 1px solid white;
   border-bottom: 1px solid rgb(220,220,220);   
   padding-top: 35px;
   padding-bottom: 35px;
}

.section:nth-child(odd) {
   padding-left: 40px;
   padding-right: 10px;
   background: -webkit-linear-gradient(left, #fbfbfb 0%, #e8e8e8 100%);
}

.section:nth-child(even) {
   padding-left: 10px;
   padding-right: 40px;
   background: -webkit-linear-gradient(right, #fbfbfb 0%, #e8e8e8 100%);
}

.section .header {
   color:#597389;
   color: rgb(60,60,60);
   font-size: 25px;
}

.section .description {
   text-align: justify;
   line-height: 18px;
}

.panel {
   width: 45%;
}

#more-info {
   border-top: none;
}

#footer {
   margin-top: 40px;
   height: 40px;
   text-align: center;
   position: relative;
   background: -webkit-linear-gradient(top, #7B9EBD 0%, #597389 100%);;
   padding: 0px;
}

#footer ul {
   position: absolute;
   border: 1px solid red;
   vertical-align: middle;
   left: 35%;
   color: white;
   font-size: 12px;
   padding: 0px;
   list-style: none;
   display:inline;
}

#footer ul li {
   display: inline;
   padding: 0px 10px 0px 10px;
}