
body {
   background-color: rgb(220,220,220);
   background-image: url('../images/T_map_large_infinite_square_1.png');   
   background-size:200px 200px;
   background-repeat: repeat;
   
/*         padding: 0px 15% 0px 15%;*/
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   margin-top: 10px;
   padding: 0px;
   width: 820px;
   margin-left: auto;
   margin-right: auto;
}

.ribbon {
   position:absolute;
   top: 0px;
   margin-left: -240px;
}

#header {
   padding: 0px 0px 10px 5%;         
   height: 130px;
}

#nav-bar {
   margin-top: 70px;
   float:right;
   padding: 12px;
   background: #fbfbfb; /* Old browsers */
   background: -moz-linear-gradient(top,  #fbfbfb 0%, #e8e8e8 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #fbfbfb 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #fbfbfb 0%,#e8e8e8 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #fbfbfb 0%,#e8e8e8 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #fbfbfb 0%,#e8e8e8 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}

#nav-bar ul {
   list-style: none;
   display:inline;
   padding: 0px;
   
}
#nav-bar li {
   display:inline;
   padding: 0px 8px 0px 8px;
}

#nav-bar li a {text-decoration: none;}
#nav-bar li a:link {
  color: rgb(80,80,80);
  text-shadow: 0px 1px 0px #fff;
  text-decoration: none;
  font-size: 11px;
}
#nav-bar li a:visited {color: rgb(100,100,100);}
#nav-bar li a:hover {color: #88af00;}


.box-shadow {
   -moz-border-radius: 5px;   
   border-radius: 5px;
   box-shadow: 0px 1px 3px #a7a7a7;
   -moz-box-shadow: 0px 1px 3px #a7a7a7;
}

#intro {
   background-color: rgb(250,250,250);
   position: relative;
   background: #fbfbfb; /* Old browsers */
   background: -moz-linear-gradient(top,  #fbfbfb 0%, #e8e8e8 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #fbfbfb 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #fbfbfb 0%,#e8e8e8 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #fbfbfb 0%,#e8e8e8 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #fbfbfb 0%,#e8e8e8 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}

.grid {
   height: 100%;
   width: 100%;
   background: url('../images/grid.png') repeat transparent;     
/*         padding: 10px 10px 10px 40px;*/          
}

.description {
   color: #777;
   text-shadow: 0px 1px 0px #fff;   
}

.description a{
   color: #777;
   text-shadow: 0px 1px 0px #fff;   
}


#intro #bullets {
   font-size: 15px;
   line-height: 16px;
   list-style-type: none;
}

#intro #bullets li:last-child {
   margin-bottom: 0px;
}
#intro #bullets li {
   margin-bottom: 30px;
}

#intro #bullets li:before {
   content: ".";
   position: absolute;
   left: 35px;
   font-size: 80px;
   margin-top:-16px;
   font-family: ubuntu;
}

#try-it {
   text-align: center;
   width: 170px;
   margin-top: 0px;
   margin-left: auto;
   margin-right: auto;   
}

#try-it a {
   text-decoration: none;
}

.button {

   -moz-border-radius: 5px;   
   border-radius: 5px;
   font-size: 2.5em;
   font-family: ubuntu;
   color: white;
   border: 1px solid #88af00;
   padding: 8px 25px 8px 25px;
   background: #92bc00; /* Old browsers */
   background: -moz-linear-gradient(top,  #92bc00 50%, #88af00 51%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#92bc00), color-stop(51%,#88af00)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #92bc00 50%,#88af00 51%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #92bc00 50%,#88af00 51%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #92bc00 50%,#88af00 51%); /* IE10+ */
   background: linear-gradient(to bottom,  #92bc00 50%,#88af00 51%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92bc00', endColorstr='#88af00',GradientType=0 ); /* IE6-9 */   
}

#download {
   margin-top: 1px;
   color:rgb(80,80,80);
   text-decoration:underline;
   font-size:0.8em;
}

#flowchart {
   margin-top: 10px;
   width: 100%;
/*         border: 1px solid rgb(200,200,200);
   -moz-box-shadow: 0px 1px 3px #a7a7a7;  
   box-shadow: -1px 4px 4px rgb(200,200,200);
   -moz-border-radius: 5px;   
   border-radius: 5px;           
*/      }

#content {
   margin-top: 40px;
}


#content #top-bar {
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   height: 40px;
   padding: 0px;
   width: 100%;
   color: #597389;
   text-align: center;
   font-size: 2px;
   background: #7b9ebd; /* Old browsers */
   background: -moz-linear-gradient(top,  #7b9ebd 0%, #597389 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b9ebd), color-stop(100%,#597389)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #7b9ebd 0%,#597389 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #7b9ebd 0%,#597389 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #7b9ebd 0%,#597389 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #7b9ebd 0%,#597389 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b9ebd', endColorstr='#597389',GradientType=0 ); /* IE6-9 */   
}

.tags{
	margin:0;
	margin-bottom: 50px;
	padding:0;
	list-style:none;
}

.tags li, .tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
}

.tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
/* background:#0089e0;*/
	background: #88af00;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
}

.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	/*border-color:transparent #0089e0 transparent transparent;*/
   border-color:transparent #88af00 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
}

.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #3E5000;
	-webkit-box-shadow:-1px -1px 2px #3E5000;
	box-shadow:-1px -1px 2px #3E5000;
}

.tags a:hover{background:#555;}	

.tags a:hover:before{border-color:transparent #555 transparent transparent;}

.section {
   border-top: 1px solid white;
   border-bottom: 1px solid rgb(220,220,220);   
   padding-top: 35px;
   padding-bottom: 35px;
}

.section:nth-child(odd) {
   padding-left: 40px;
   padding-right: 10px;
   background: #fbfbfb; /* Old browsers */
   background: -moz-linear-gradient(left,  #fbfbfb 0%, #e8e8e8 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fbfbfb), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(left,  #fbfbfb 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(left,  #fbfbfb 0%,#e8e8e8 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(left,  #fbfbfb 0%,#e8e8e8 100%); /* IE10+ */
   background: linear-gradient(to right,  #fbfbfb 0%,#e8e8e8 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-9 */
}

.section:nth-child(even) {
   padding-left: 10px;
   padding-right: 40px;
   background: #e8e8e8; /* Old browsers */
   background: -moz-linear-gradient(left,  #e8e8e8 0%, #fbfbfb 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e8e8e8), color-stop(100%,#fbfbfb)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(left,  #e8e8e8 0%,#fbfbfb 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(left,  #e8e8e8 0%,#fbfbfb 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(left,  #e8e8e8 0%,#fbfbfb 100%); /* IE10+ */
   background: linear-gradient(to right,  #e8e8e8 0%,#fbfbfb 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#fbfbfb',GradientType=1 ); /* IE6-9 */
}

.section .header {
   color:#597389;
   color: rgb(60,60,60);
   font-size: 25px;
}

.section .description {
   text-align: justify;
   line-height: 18px;
}

.panel {
   width: 45%;
}

#more-info {
   border-top: none;
}

#lab-photo {
   width:100%;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}

#faq li {
   text-align: justify;
   margin: 20px 0px 20px 0px;
}

#footer {
   position:absolute;
   bottom:0px;
   height:60px; 
   left:0px;
   right:0px;
   background: -webkit-linear-gradient(top, #5B778F 0%, #2C3B47 100%);;
}

