---
layout: default
title: "Software"
permalink: Software.html
group: "navigation"
order: 4
---

<div class='section'>
  <div class='section-title'>Software tools</div>
  <ul id="tools">
    {% for tools in site.data.gkno-web-content.tools %}
      {% assign tool = tools[0] %}
      <div style="text-align:left;">{{ tool }}</div>

      <!-- Display authors -->
      <div style="display:table">
        {% if site.data.gkno-web-content.tools[tool].authors %}
          <a style="display:table-cell;width:240px; text-align:left; padding-left:40px; font-size:20px;">Authors:</a>
          {% for author in site.data.gkno-web-content.tools[tool].authors %}
            <ul style="list-style-type:circle; font-size:18px;"><div style="display:table-cell">{{ author }}</div></ul>
          {% endfor %}
        {% endif %}
      </div>

      <!-- Display emails -->
      <div style="display:table">
        {% if site.data.gkno-web-content.tools[tool].emails %}
          <a style="display:table-cell;width:240px; text-align:left; padding-left:40px; font-size:20px;">Contact:</a>
          {% for email in site.data.gkno-web-content.tools[tool].emails %}
            <ul style="list-style-type:circle; font-size:18px;"><div style="display:table-cell">{{ email }}</div></ul>
          {% endfor %}
        {% endif %}
      </div>

      <!-- Display web pages -->
      <div style="display:table">
        {% if site.data.gkno-web-content.tools[tool].web_pages %}
          <a style="display:table-cell;width:240px; text-align:left; padding-left:40px; font-size:20px;">Web pages:</a>
          {% for webPage in site.data.gkno-web-content.tools[tool].web_pages %}
            <ul style="list-style-type:circle; font-size:18px;"><div style="display:table-cell">
              <a href="{{ webPage }}">{{ webPage }}</a>
          </div></ul>
          {% endfor %}
        {% endif %}
      </div>

      <!-- Display papers -->
      <div style="display:table">
        {% if site.data.gkno-web-content.tools[tool].web_pages %}
          <a style="display:table-cell;width:240px; text-align:left; padding-left:40px; font-size:20px;">Papers:</a>
          {% for paper in site.data.gkno-web-content.tools[tool].papers %}
            <ul style="list-style-type:circle; font-size:18px; text-align:left;"><div style="display:table-cell">{{ paper }}</div></ul>
          {% endfor %}
        </div>
        {% endif %}
        <hr>
      </dic>
    {% endfor %}
  </ul>
</div>
